<template>
  <div>
    <v-card elevation="4"
            shaped
            outlined>
          <v-card-text class="text--primary">
            <v-row>
              <v-col>
                <v-card shaped height="500" class="mt-3">
                  <v-row>
                    <v-col class="ml-2">
                      <v-card-text>
                      <span class="mt-5">Ime: {{ selectedItem['ime'] }}</span>
                      <div>Priimek: {{ selectedItem['priimek'] }}</div>
                      <div>Aktivnost:
                        <v-badge class="ml-2 mb-1" v-if="selectedItem['aktivan']" dot color="green"/>
                        <v-badge class="ml-2 mb-1" color="red" v-else dot/>
                      </div>
                      <div>
                        <v-dialog
                            v-model="dialog"
                            max-width="800"
                        >
                          <template v-slot:activator="{ on, attrs }">
                        <v-btn class="mt-5" v-on="on" v-bind="attrs" outlined color="green ">Spremeni</v-btn>
                          </template>
                          <v-card>
                            <v-card-title>
                              <span class="text-h5 mb-5">Informacije o delavcu</span>
                            </v-card-title>
                            <v-card-text>
                              <v-row>
                                <v-col><v-text-field outlined label="Ime" v-model="selectedItem['ime']"/></v-col>
                                <v-col><v-text-field outlined label="Priimek" v-model="selectedItem['priimek']"/></v-col>
                                <v-col><v-switch inset label="Aktivnost" v-model="selectedItem['aktivan']"/></v-col>
                              </v-row>
                            </v-card-text>
                            <v-card-actions>
                              <v-spacer/>
                              <v-btn outlined class="mb-2 ml-2" color="red" @click="dialog = false">Prekliči</v-btn>
                              <v-btn outlined class="mb-2 ml-2" color="green" @click="editWorkerInfo">Shrani</v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-dialog>
                      </div>
                      </v-card-text>
                    </v-col>
                    <v-col class="d-flex justify-center">
                      <v-img
                          width="100"
                          height="150"
                          alt="workerIcon"
                          class="shrink mt-1 hidden-md-and-down"
                          contain
                          :src="workerIcon"/>
                    </v-col>
                  </v-row>
                  <v-card-text>
                    <v-row class="mt-2">
                      <v-col>
                        <v-row>
                          <v-col>
                            <v-text-field type="date" v-model="dateFrom" outlined label="Datum od:" dense />
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col> <v-text-field type="date" v-model="dateTo" outlined label="Datum do:" dense /></v-col>
                        </v-row>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col class="d-flex justify-center">
                      <v-btn color="green white--text" @click="getInfoByTime">Iskanje</v-btn>
                    </v-col>
                    </v-row>
                    <v-row><v-col class="d-flex justify-center">Monterjeve ure: {{ monterjevCas | numberFilter}}</v-col></v-row>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col cols="12" md="8">
                <v-card  elevation="1" shaped>
                  <v-card-text>
                <v-data-table
                    :footer-props="{'items-per-page-options':[5,10],
                          'disable-items-per-page': true,}"
                    :items-per-page="5"
                    :headers="headers"
                    :items="items"
                    :server-items-length="totalItems"
                    @update:page="setPage"
                    :search="search"
                    class="align-end">
                  <template v-slot:top>
                    <v-toolbar
                        flat>
                      <v-row>
                        <v-card-title class="hidden-md-and-down">Seznam dnevnih nalogov</v-card-title>
                        <v-divider vertical class="hidden-md-and-down"/>
                        <v-spacer class="hidden-md-and-down"/>
                        <v-text-field
                            label="Search"
                            append-icon="mdi-magnify"
                            single-line
                            hide-details
                            v-model="search"
                            class="mt-2 mr-2 d-flex justify-center"/>
                      </v-row>
                    </v-toolbar>
                  </template>

                  <template v-slot:item.datum="{ item }">
                    {{ item['datum'] | datumFilter }}
                  </template>

                  <template v-slot:item.je_sofer="{ item }">
                  <v-icon v-if="item['je_sofer'] == 1">mdi-check</v-icon>
                  <v-icon v-else>mdi-close</v-icon>
                  </template>
                </v-data-table>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
      <v-card-actions>
        <v-col>
          <v-btn @click="$emit('cancel')" color="red white--text">Nazaj</v-btn>
        </v-col>
        <v-spacer/>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import Api from '../../webServices/ApiJS';
import workerIcon from '../../assets/worker.png'
import datumFilter from '../../mixins/filters/DateFilter'
import numberFilter from '../../mixins/filters/NumberFloatFilter'
export default {
  name: "WorkerForm",
  props: ['selectedItem'],
  mixins: [datumFilter,numberFilter],
  data() {
    return {
      dialog: false,
      workerIcon: workerIcon,
      workerInfo: null,
      monterjevCas: 0,
      search: "",
      dateTo: null,
      dateFrom: null,
      page: 1,
      totalItems: 0,
      headers: [
        {text: "Šifra", value: "sifra"},
        {text: "Datum", value: "datum"},
        {text: "Vozilo", value: "vozilo"},
        {text: "Odhod", value: "startt"},
        {text: "Začetek dela", value: "zacetek_dela"},
        {text: "Konec dela", value: "konec_dela"},
        {text: "Pihod", value: "prihod"},
        {text: "Šofer", value: "je_sofer"},
      ],
      items: [],
      justify: [
        'start',
        'center',
        'end',
        'space-around',
        'space-between',
      ],
    }
  },
  async beforeMount () {
    await this.getInfo()
  },
  methods: {
    async setPage (page) {
      this.page = page
      await this.getInfoByTime()
    },
    async getInfoByTime () {
      try {
        let apiCall = await Api.getInstance().post('delavci/obseg',
            {
              page: this.page,
              od: this.dateFrom,
              do: this.dateTo
            },
        this.selectedItem['id'])
        this.items = apiCall['data']
        if (apiCall['data'][0] !== undefined || apiCall['data'][0] !== null) {
          this.monterjevCas = apiCall['data'][0]['monterjev_cas']
          this.page = apiCall['page']
          this.totalItems = apiCall['totalItems']
        } else {
         this.monterjevCas = 0
        }
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    async editWorkerInfo() {
      try {
        await Api.getInstance().put('delavci',this.selectedItem['id'], this.selectedItem)
        this.dialog = false
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    async getInfo() {
      await  this.getInfoByTime()
      try {
        await Api.getInstance().get('delavci', {} ,this.selectedItem['id'])
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    }
  }
}

</script>

<style scoped>

</style>