<template>
  <div>
  <v-card v-if="selectedItem === null">
    <v-card-text>
    <v-data-table
        dense
        :search="search"
        :headers="headers"
        :items="items">
      <template v-slot:top>
        <v-toolbar
            flat>
          <v-row>
              <v-card-title class="hidden-sm-and-down">Seznam monterjev</v-card-title>
              <v-divider class="hidden-md-and-down" vertical/>
              <v-spacer class="hidden-sm-and-down"/>
              <v-text-field
                  label="Search"
                  append-icon="mdi-magnify"
                  single-line
                  hide-details
                  v-model="search"
                  class="d-flex mt-2 mr-2"/>
            <v-dialog
                v-model="dialog"
                max-width="800">
              <template v-slot:activator="{ on, attrs }">
                  <v-btn color="green" v-on="on" v-bind="attrs" class="hidden-sm-and-down mt-2 ml-1 white--text">Dodaj</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5 mb-3">Dodaj monterja</span>
                </v-card-title>
                <v-card-text>
                  <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation>
                  <v-row>
                    <v-col cols="5"><v-text-field :rules="rules" outlined label="Ime" v-model="newWorker['ime']"/></v-col>
                    <v-col cols="4"><v-text-field :rules="rules" outlined label="Priimek" v-model="newWorker['priimek']"/></v-col>
                    <v-col cols="3"><v-switch inset label="Aktivnost" v-model="newWorker['aktivan']"/></v-col>
                  </v-row>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer/>
                  <v-btn outlined color="red" class="mb-3" @click="dialog = false">Prekliči</v-btn>
                  <v-btn outlined color="green" class="mb-3 ml-5" @click="addWorker">Shrani</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </v-toolbar>
      </template>
      <template v-slot:item.aktivan="{ item }" >
        <v-layout justify-center class="ml-n3">
        <v-badge v-if="item.aktivan" color="green" dot/>
        <v-badge v-else color="red" dot/>
        </v-layout>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
            class="mr-2"
            @click="selectedItem = item"
        >
          mdi-pencil
        </v-icon>
      </template>
    </v-data-table>
    </v-card-text>
  </v-card>
    <div v-else>
      <WorkerFrom
          @cancel="getItems"
          :selectedItem="selectedItem"/>
    </div>
  </div>
</template>

<script>
import Api from '../../webServices/ApiJS'
import WorkerFrom from './WorkerForm'
export default {
  name: "WorkersList",
  components: {WorkerFrom},
  data () {
    return {
      dialog: false,
      newWorker: {},
      search: '',
      selectedItem: null,
      valid: true,
      rules: [
        v => !!v || 'Obvezno izpolniti',
      ],
      headers: [
        {text: 'Priimek', value: 'priimek'},
        {text: 'Ime', value: 'ime'},
        {text: 'Aktivnost', value: 'aktivan', align: 'center'},
        {text: '', value: 'actions', align: 'center'},
      ],
      items: []
    }
  },
  async mounted () {
    await this.getItems()
  },
  methods: {
    async addWorker () {
      try {
        if (this.$refs.form.validate()) {
          await Api.getInstance().post('delavci', this.newWorker)
          await this.getItems()
          this.dialog = false
        }
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    async getItems() {
      this.selectedItem = null
      try {
        this.items = (await Api.getInstance().get('delavci',{showAll: 1}))['data']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    }
  }
}
</script>

<style scoped>

</style>