<template>
  <v-card>
    <v-card-text>
    <v-data-table
        dense
        :search="search"
        :headers="headers"
        :items="items">
      <template v-slot:top>
        <v-toolbar
            flat>
            <v-card-title class="hidden-sm-and-down mt-3">Seznam vozil</v-card-title>
          <v-divider class="hidden-md-and-down" vertical></v-divider>
            <v-spacer class="hidden-sm-and-down"/>
            <v-text-field
                label="Search"
                append-icon="mdi-magnify"
                single-line
                hide-details
                v-model="search"
                class="d-flex mr-5"/>
            <v-dialog
                v-model="dialogAdd"
                max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      @click="dialogAdd = true; editedItem = {}"
                      color="green"
                      v-on="on"
                      v-bind="attrs"
                      class=" hidden-sm-and-down white--text">Dodaj</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="text-h5">Dodajanje vozil</span>
                </v-card-title>
                <v-card-text>
                  <v-container>
                      <v-row>
                        <v-col
                            class="d-flex justify-center">
                          <v-text-field
                              outlined
                              dense
                              danse
                              v-model="newVehicle['naziv']"
                              label="Naziv"/>
                        </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                    <v-btn
                        outlined
                        class="mr-2"
                        color="red darken-1"
                        @click="dialogAdd = false">
                      Prekliči
                    </v-btn>
                    <v-btn
                        outlined
                        color="green darken-1"
                        @click="addItem">
                      Shrani
                    </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.naziv="{ item }">
        <v-layout justify-center class="mt-5 ml-5" >
          <v-text-field dense outlined v-model="item.naziv" />
        </v-layout>
      </template>
      <template v-slot:item.aktivan="{ item}">
        <v-layout justify-center>
          <td>
        <v-switch dense inverted inset v-model="item.aktivan"/>
            <span class="ml-n2" v-if="item.aktivan">Aktiven</span>
            <span class="ml-n2" v-else>Neaktiven</span>
          </td>
        </v-layout>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-layout justify-center>
      <td>
        <v-btn color="green" class="mr-2 " outlined @click="saveItem(item)">Shrani</v-btn>
     </td>
        </v-layout>
      </template>
    </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
import Api from '../../webServices/ApiJS'
export default {
  name: "VechilesList",
  data() {
    return {
      search: '',
      items: [],
      dialogAdd: false,
      newVehicle: {
        naziv: '',
        aktivan: 0
      },
      headers: [
        {text: "Naziv", value: "naziv", align: 'center' },
        {text: "Aktivnost", value: "aktivan", align: 'center' },
        { value: "actions", align: "end" },
      ],
    }
  },
  async mounted () {
    await this.getItems()
  },
  methods: {
    async addItem () {
      try {
        if (this.newVehicle['naziv'] !== '') {
          await Api.getInstance().post('vozilo',this.newVehicle)
        }
        this.dialogAdd = false
        await this.getItems()
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
      await this.getItems()
    },
    async saveItem (item) {
      try {
        await Api.getInstance().put('vozilo', item['id'], item)
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
      await this.getItems()
    },
    getItems: async function () {
      try {
        this.items = []
        this.items = (await Api.getInstance().get('vozilo',{showAll: 1}))['data']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    }
  }
}
</script>

<style scoped>

</style>