<template>
  <div>
    <v-card-title>
      <span>Delovni nalog : {{selected['sifra']}}</span>
    </v-card-title>
    <v-card-subtitle>
      <v-row>
      <div class="mt-1 ml-5">
        <template><span class="mr-5">Datum: {{ selected['datum_zacetka'] | datumFilter}}</span></template>
        <span class="mr-5">Objekt: {{ selected['objekt'] }}</span>
        <span class="mr-5">Bruto čas: {{ selected['bruto_cas'] | numberFilter }}</span>
        <span class="mr-5">Neto čas: {{ selected['neto_cas'] | numberFilter}}</span>
      </div>
      <v-divider vertical></v-divider>
      <v-badge class="mt-5 ml-5" color="green" v-if="selected['status_projekt']"/>
      <v-badge class="mt-5 ml-5" color="red"  v-else/>
      </v-row>
    </v-card-subtitle>
    <v-card-text class="mt-2">
      <v-form
          ref="form"
          v-model="valid"
          lazy-validation>
      <v-row>
        <v-col>
        <v-card>
          <v-card-text>
          <v-row>
            <v-col>
              <v-text-field
                  label="Datum"
                  outlined
                  :rules="rules"
                  type="date"
                  format="dd-mm-yyyy"
                  v-model="dailyOrder['datum']"/>
            </v-col>
            <v-col>
              <v-autocomplete
                  label="Vozilo"
                  outlined
                  :rules="rules"
                  item-value="id"
                  item-text="naziv"
                  :items="listVehicles"
                  v-model="dailyOrder['vozilo_id']"/>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
                  <v-menu
                      ref="menu1"
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="dailyOrder['startt']"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                          outlined
                          :rules="rules"
                          v-model="dailyOrder['startt']"
                          label="Odhod"
                          prepend-icon="mdi-clock-time-four-outline"
                          v-bind="attrs"
                          v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                        v-if="menu1"
                        v-model="dailyOrder['startt']"
                        full-width
                        format="24hr"
                        @click:minute="$refs.menu1.save(dailyOrder['startt'])"
                    ></v-time-picker>
                  </v-menu>
            </v-col>
            <v-col>
                <v-menu
                    ref="menu2"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="dailyOrder['zacetek_dela']"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                        outlined
                        v-model="dailyOrder['zacetek_dela']"
                        label="Začetek dela"
                        prepend-icon="mdi-clock-time-four-outline"
                        v-bind="attrs"
                        v-on="on"
                    ></v-text-field>
                  </template>
                  <v-time-picker
                      v-if="menu2"
                      v-model="dailyOrder['zacetek_dela']"
                      full-width
                      format="24hr"
                      @click:minute="$refs.menu2.save(dailyOrder['zacetek_dela'])"
                  ></v-time-picker>
                </v-menu>
              </v-col>
          </v-row>
          <v-row  v-if="dailyOrder['id'] !== undefined">
            <v-col>
              <v-menu
                  ref="menu3"
                  v-model="menu3"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  :return-value.sync="dailyOrder['konec_dela']"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      outlined
                      label="Konec"
                      v-model="dailyOrder['konec_dela']"
                      prepend-icon="mdi-clock-time-four-outline"
                      v-bind="attrs"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-time-picker
                    v-if="menu3"
                    v-model="dailyOrder['konec_dela']"
                    full-width
                    format="24hr"
                    @click:minute="$refs.menu3.save(dailyOrder['konec_dela'])"
                ></v-time-picker>
              </v-menu>
            </v-col>
            <v-col>
            <v-menu
                ref="menu4"
                v-model="menu4"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="dailyOrder['prihod']"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                    outlined
                    label="Prihod"
                    prepend-icon="mdi-clock-time-four-outline"
                    v-bind="attrs"
                    v-on="on"
                    v-model="dailyOrder['prihod']"
                ></v-text-field>
              </template>
              <v-time-picker
                  v-if="menu4"
                  v-model="dailyOrder['prihod']"
                  full-width
                  format="24hr"
                  @click:minute="$refs.menu4.save(dailyOrder['prihod'])"
              ></v-time-picker>
            </v-menu>
        </v-col>
          </v-row>
            <v-row>
            <v-col>
              <v-text-field
                  outlined
                  label="Odsotnost šoferja"
                  v-if="this.dailyOrder['id'] !== undefined"
                  v-model="dailyOrder['odsotnost_soferja']"/>
            </v-col>
            <v-col>
              <v-text-field
                  outlined
                  label="Odstonost delavca"
                  v-if="this.dailyOrder['id'] !== undefined"
                  v-model="dailyOrder['odsotnost_delavca']"/>
            </v-col>
          </v-row>
            <v-row>
            <v-col>
              <v-text-field
                  outlined
                  label="Bruto čas"
                  v-if="this.dailyOrder['id'] !== undefined"
                  v-model="dailyOrder['bruto_cas']"/>
            </v-col>
            <v-col>
              <v-text-field
                  outlined
                  label="Neto čas"
                  v-if="this.dailyOrder['id'] !== undefined"
                  v-model="dailyOrder['neto_cas']"/>
            </v-col>
          </v-row>
            </v-card-text>
        </v-card>
        </v-col>
        <v-col cols="5" >
          <v-card-text>
          <v-row>
            <v-col>
              <v-select label="Delavci"
                        multiple
                        outlined
                        item-text="ime"
                        return-object
                        v-model="dailyOrder['dnevne_nalog_delavci']"
                        :items="listWorkers">
                <template v-slot:selection="{ item, index }">
                  <v-chip v-if="index === 0">
                    <span>{{ item['ime'] }}</span>
                  </v-chip>
                  <span
                      v-if="index === 1"
                      class="grey--text text-caption"
                  >
                    (+{{ dailyWorkers.length - 1 }} others)
                  </span>
                </template>
              </v-select>
            </v-col>
            </v-row>
            <v-row>
            <v-col>
              <v-select :rules="rules" label="Šofer" outlined item-text="ime" item-value="id" v-model="sofer" return-object @change="checkWorkers" :items="dailyOrder['dnevne_nalog_delavci']"/>
            </v-col>
          </v-row>
          </v-card-text>
          <v-list  rounded  class="overflow-auto mt-n8">
            <v-subheader>Monterji</v-subheader>
            <v-list-item-group
                color="primary">
              <v-list-item
                  v-for="(item, i) in dailyOrder['dnevne_nalog_delavci']"
                  :key="i">
                <v-list-item-icon>
                  <v-icon v-if="item['je_sofer']">mdi-car</v-icon>
                  <v-icon v-if="!item['je_sofer']">mdi-account-hard-hat-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="item.ime + '   '+ item.priimek "></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>
      </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-btn color="green" class="mb-2 ml-2 white--text" @click="save">Shrani</v-btn>
      <v-btn color="red" class="mb-2 ml-2 white--text"  @click="$emit('refresh')">Nazaj</v-btn>
    </v-card-actions>
  </div>
</template>

<script>
import Api from '../../webServices/ApiJS'
import 'vue2-timepicker/dist/VueTimepicker.css'
import datumFilter from '../../mixins/filters/DateFilter'
import numberFilter from '../../mixins/filters/NumberFloatFilter'
export default {
  name: "DailyOrderForm",
  props: ['selectedItem','selectedDailyOrder'],
  mixins: [datumFilter, numberFilter],
  data () {
    return {
      showAll: 1,
      time: null,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      modal2: false,
      selected: null,
      dailyOrder: null,
      listWorkers: [],
      valid: true,
      rules: [
        v => !!v || 'Obvezno izpolniti',
      ],
      listVehicles: [],
      listWorkersSofer: [],
      dailyWorkers: [],
      sofer: null,
    }
  },
  methods: {
    async save () {
      if (this.$refs.form.validate()) {
        this.dailyOrder['delovni_nalog_id'] = this.selected['id']
        this.checkWorkersSofer()
        try {
          if (this.dailyOrder['id'] !== undefined) {
            await Api.getInstance().put('dnevne-nalog',this.dailyOrder['id'], this.dailyOrder)
            this.$emit('refresh')
          } else {
            await Api.getInstance().post('dnevne-nalog', this.dailyOrder)
            this.$emit('refresh')
          }
        } catch (e) {
          this.$notify({type: 'error', title: 'Error', text: e})
        }
      }
    },
    async getWorkers () {
      try {
        this.listWorkers = (await Api.getInstance().get('delavci',{showAll: this.showAll}))['data']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    async getVehicles () {
      try {
        this.listVehicles = (await Api.getInstance().get('vozilo',{showAll: this.showAll}))['data']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    checkWorkersSofer () {
      for(let inedx in this.dailyOrder['dnevne_nalog_delavci']) {
        if(this.dailyOrder['dnevne_nalog_delavci'][inedx]['je_sofer'] == undefined) {
          this.dailyOrder['dnevne_nalog_delavci'][inedx]['je_sofer'] = 0
        }
      }
    },
    checkWorkers (item) {
      this.dailyOrder['dnevne_nalog_delavci'].filter(delavci => delavci['je_sofer'] = 0)
      for(let inedx in this.dailyOrder['dnevne_nalog_delavci']) {
        if(this.dailyOrder['dnevne_nalog_delavci'][inedx]['id'] == item['id']) {
          this.dailyOrder['dnevne_nalog_delavci'][inedx]['je_sofer'] = 1
        }
      }
     },
    getSofer () {
      let delavci = this.dailyOrder['dnevne_nalog_delavci']
      for (let index in delavci) {
        if (delavci[index]['je_sofer'] === 1) {
          this.sofer = delavci[index]
        }
      }
    }
  },
  async mounted () {
    await this.getWorkers()
  },
  beforeMount () {
    this.selected = this.selectedItem
    this.dailyOrder = this.selectedDailyOrder
    if (this.selectedItem === undefined) {
      this.selected = this.selectedDailyOrder['delovni_nalog'][0]
    }
    if (this.dailyOrder['id'] == undefined) {
      this.dailyOrder['datum'] = new Date().toISOString().slice(0, 10)
      this.dailyOrder['startt'] = new Date().toISOString().slice(11, 16)
      this.showAll = 0
    }
    this.getSofer()
    this.getVehicles()
  }
}
</script>

<style scoped>

</style>