<template>
  <div>
  <div v-if="selectedDailyOrder === null">
  <v-card v-if="selectedItem == undefined">
    <v-card-text>
        <v-row>
          <v-col><v-text-field outlined label="Šifra" v-model="serverSearch['sifra']"/></v-col>
          <v-col><v-text-field outlined label="Objekt" v-model="serverSearch['objekt']"/></v-col>
          <v-col><v-text-field outlined label="Delavec" v-model="serverSearch['delavec']"/></v-col>
          <v-col><v-text-field outlined label="Vozilo" v-model="serverSearch['vozilo']"/></v-col>
          </v-row>
      <v-row>
        <v-col><v-text-field outlined type="date" label="Datum od" v-model="serverSearch['od']"/></v-col>
        <v-col><v-text-field outlined type="date" label="Datum do" v-model="serverSearch['do']"/></v-col>
          <v-col class="d-flex justify-center">
            <v-btn class="mt-2 white--text"
                   @click="searchMethod()"
                   color="green">
              Iskanje
            </v-btn>
          </v-col>
        </v-row>
    </v-card-text>
  </v-card>
    <v-card class="mt-2">
    <v-card-text>
      <v-row>
        <v-col>
      <v-data-table
          :server-items-length="totalItems"
          @update:page="setPage"
          :footer-props="{'items-per-page-options':[50,100],
                          'disable-items-per-page': true,}"
          :items-per-page="50"
          :headers="headers"
          :items="items">
        <template v-slot:top>
          <v-toolbar
              flat>
            <v-card-text>
              <v-row>
                <v-card elevation="0" v-if="selectedWorkOrder !== undefined">
                <div class="mt-1">
                  <h3> Delovni nalog</h3>
                  <span class="mr-2">Šifra: {{ selectedWorkOrder['sifra'] }}</span>
                  <span class="mr-2">Datum: {{ selectedWorkOrder['datum_zacetka'] }}</span>
                  <span class="mr-2">Bruto čas: {{ selectedWorkOrder['bruto_cas'] | numberFilter }}</span>
                  <span class="mr-2">Neto čas: {{ selectedWorkOrder['neto_cas'] | numberFilter }}</span>
                </div>
                </v-card>
                <v-card-title v-else class="hidden-sm-and-down">Seznam dnevnih nalogov </v-card-title>
                <v-divider vertical></v-divider>
                <v-badge class="mt-9 ml-5" color="green" v-if="selectedWorkOrder !== undefined && selectedItem['status_projekt']"/>
                <v-badge class="mt-9 ml-5" color="red" v-if="selectedWorkOrder !== undefined && !selectedItem['status_projekt']" />
                <v-spacer />
                <v-btn
                    v-if="selectedItem !== undefined"
                    @click="selectedDailyOrder = {}"
                    color="green"
                    class="mt-3 ml-2  white--text d-none d-lg-block">
                  Dodaj
                </v-btn>
              </v-row>
            </v-card-text>
          </v-toolbar>
        </template>
        <template v-slot:item.datum="{ item }">
          {{ item['datum'] | datumFilter }}
        </template>
        <template v-if="selectedItem !== undefined" v-slot:item.sifra>
            {{ selectedItem['sifra']  }}
        </template>
        <template v-else v-slot:item.sifra="{ item }">
          {{ item['delovni_nalog'][0]['sifra'] }}
        </template>
        <template v-slot:item.neto_cas="{ item }">
          {{ item['neto_cas'] | numberFilter }}
        </template>
        <template v-slot:item.bruto_cas="{ item }">
          {{ item['bruto_cas'] | numberFilter }}
        </template>
        <template v-slot:item.odsotnost_delavca="{ item }">
          {{ item['odsotnost_delavca'] | numberFilter }}
        </template>
        <template v-slot:item.odsotnost_soferja="{ item }">
          {{ item['odsotnost_soferja'] | numberFilter }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
              class="mr-2"
              @click="selectedDailyOrder = item"
          >
            mdi-pencil
          </v-icon>
        </template>
        <template v-slot:footer.prepend>
          <v-btn v-if="selectedItem !== undefined"
                 class="mt-2 mr-5 white--text"
                 @click="$emit('refresh')"
                 color="red">Nazaj</v-btn>
          <v-btn v-if="items[0] !== undefined && selectedItem == undefined" class="white--text mr-2" @click="getExcel()" color="green">Izvozi</v-btn>
            <span v-if="items[0] !== undefined && selectedItem == undefined" class="text-subtitle-2 mr-5">Total bruto: {{ items[0]['totalBruto'] | numberFilter }}</span>
            <span v-if="items[0] !== undefined && selectedItem == undefined" class="text-subtitle-2">Total neto: {{ items[0]['totalNeto'] | numberFilter }}</span>
        </template>
      </v-data-table>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
  </div>
    <v-card v-else>
      <DailyOrderForm
          @refresh="this.getItems"
          @unSelect="selectedDailyOrder = null"
          :selectedDailyOrder="selectedDailyOrder"
          :selectedItem="selectedWorkOrder"></DailyOrderForm>
    </v-card>
  </div>
</template>

<script>
import Api from '../../webServices/ApiJS'
import DailyOrderForm from './DailyOrderForm'
import datumFilter from '../../mixins/filters/DateFilter'
import numberFilter from '../../mixins/filters/NumberFloatFilter'
export default {
  name: "DailyOrdersList",
  props: ['selectedItem'],
  mixins: [datumFilter, numberFilter],
  components: {
    DailyOrderForm
  },
  data () {
    return {
      workOrder: null,
      selectedDailyOrder: null,
      selectedWorkOrder: null,
      totalItems: 0,
      page: 1,
      isSearch: false,
      serverSearch: {
        od: null,
        do: null,
        sifra: null,
        objekt: null,
        delavec: null,
        vozilo: null
      },
      items: [],
      headers: [
        {text: 'Šifra', value: 'sifra'},
        {text: 'Datum', value: 'datum'},
        {text: 'Vozilo', value: 'vozilo'},
        {text: 'Odhod', value: 'startt'},
        {text: 'Začetek dela', value: 'zacetek_dela'},
        {text: 'Konec dela', value: 'konec_dela'},
        {text: 'Prihod', value: 'prihod'},
        {text: 'Odsotnost šoferja [h]', value: 'odsotnost_soferja'},
        {text: 'Odsotnost delavca [h]', value: 'odsotnost_delavca'},
        {text: 'Bruto čas [h]', value: 'bruto_cas'},
        {text: 'Neto čas [h]', value: 'neto_cas'},
        {text: '', value: 'actions'},
      ]
    }
  },
  async beforeMount () {
    this.selectedWorkOrder = this.selectedItem
    if(this.selectedItem == undefined) {
      this.headers.splice(2,0,{text: 'Objekt', value: 'delovni_nalog[0].objekt'})
    }
    await this.getItems(1)
  },
  methods: {
    async getExcel() {
      await Api.getInstance().get('dnevne-nalog/search/export',this.serverSearch)
    },
    async searchMethod () {
      try {
        this.isSearch = true
        this.serverSearch['page'] = this.page
        let response = await Api.getInstance().post('dnevne-nalog/search', this.serverSearch)
        this.items = response['data']
        this.page = response['page']
        this.totalItems = response['totalItems']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    },
    async setPage (newPage) {
      this.page = newPage
      if (this.isSearch) {
        await this.searchMethod()
      } else {
        await this.getItems()
      }
    },
    async getItems () {
      this.isSearch = false
      this.selectedDailyOrder = null
      if (this.selectedItem !== undefined) {
        try {
          let response = await Api.getInstance().get('delovni-nalog',{page: this.page},this.selectedItem['id'])
          this.selectedWorkOrder = response['data'][0]
          this.items = response['data'][0]['dnevne_nalog']
          this.page = response['page']
          this.totalItems = response['totalItems']
        } catch (e) {
          this.$notify({type: 'error', title: 'Error', text: e})
        }
      } else {
        try {
          let response = await Api.getInstance().get('dnevne-nalog',{page: this.page})
          this.items = response['data']
          this.page = response['page']
          this.totalItems = response['totalItems']
        } catch (e) {
          this.$notify({type: 'error', title: 'Error', text: e})
        }
      }
    },
  }
}
</script>

<style scoped>
</style>