<template>
  <div>
  <navigation />
    <v-main>
      <div class="wrapper container-sm">
        <div class="main-panel">
          <transition name="fade" mode="out-in">
            <div class="pa-5" style="width: 100%">
              <router-view></router-view>
            </div>
          </transition>
        </div>
      </div>
    </v-main>
  </div>
</template>

<script>
import navigation from './Navigation'
export default {
  components: {navigation}
};
</script>
