<template>
  <div>
  <v-app-bar
      flat
      app
      color="#C62828"
      dark>
    <v-btn
        icon
        @click.stop="mini = !mini"
    >
      <v-icon v-if="mini">mdi-chevron-right</v-icon>
      <v-icon v-else>mdi-chevron-left</v-icon>
    </v-btn>
    <div class="d-flex align-content-sm-center">
    </div>
    <v-spacer></v-spacer>
    <v-btn color="white black--text" @click="logout">Odjava</v-btn>
  </v-app-bar>
    <notifications class="mt-2 mr-2"/>
    <v-navigation-drawer
        mini-variant-width="60"
        v-model="drawer"
        :mini-variant.sync="mini"
        permanent
        style="position:fixed; top:0; left:0;"
        app
        left
    >
      <v-list-item class="mb-n1 px-1" style="min-height: 67px" >
        <Transition name="slide-up">
          <v-img
              v-if="!mini"
              alt="Hermi logo"
              class="shrink mt-1 hidden-sm-and-down"
              contain
              :src="logo"/>
        </Transition>
        <Transition  name="slide-up-mini">
          <v-img
              v-if="mini"
              alt="Hermi logo"
              class="shrink mt-1 hidden-sm-and-down"
              contain
              :src="miniLogo"/>
        </Transition>
      </v-list-item>

      <v-divider></v-divider>

      <v-list rounded>
        <v-subheader v-if="!mini">Montaža</v-subheader>
        <v-list-item-group color="green">
          <v-list-item
              v-for="item in items"
              :key="item.title"
              link
              :to="item.link"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import logo from '../assets/hermi.png'
import miniLogo from '../assets/hermiMiniLogo.png'
import {getAuth, signOut} from 'firebase/auth'
export default {
  name: "navigation",
  data: () => ({
    drawer: true,
    mini: false,
    logo: logo,
    miniLogo: miniLogo,
    logoMini: true,
    items: [
      { title: 'Delovni nalogi', icon: 'mdi-clipboard-list', link: '/DelovneNaloge' },
      { title: 'Dnevne naloge', icon: 'mdi-view-list', link: '/DnevneNaloge' },
      { title: 'Monterji', icon: 'mdi-account-hard-hat', link: '/Monterji' },
      { title: 'Vozila', icon: 'mdi-car-lifted-pickup', link: '/Vozila' },
    ]
  }),
  methods: {
    logout () {
      const auth = getAuth()
      signOut(auth)
      this.$router.replace('/signin')
    }
  }
}
</script>

<style scoped>

</style>