<template>
  <div>
  <v-card v-if="selectedItem === null" >
    <v-card-text>
      <v-data-table
      :search="search"
      :headers="headers"
      :items="items">

    <template v-slot:item.status="{ item }">
      <v-badge v-if="item['status_projekt']" color="green"/>
      <v-badge v-else color="red"/>
    </template>

    <template v-slot:top>
      <v-toolbar
          flat>
        <v-card-title class="hidden-sm-and-down">
          Seznam delovnih nalogov
        </v-card-title>
        <v-divider vertical class="hidden-sm-and-down"/>
        <v-spacer class="hidden-sm-and-down"/>
        <v-text-field
            label="Search"
            append-icon="mdi-magnify"
            single-line
            hide-details
            v-model="search"
            class="mr-2"/>
        <v-dialog
            v-model="dialogAdd"
            max-width="700px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                @click="dialogAdd = true; editedItem = {datum_zacetka: new Date().toISOString().slice(0, 10)}"
                color="green"
                v-on="on"
                v-bind="attrs"
                class="hidden-sm-and-down mb-n1 ml-4 white--text">Dodaj</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">Delovni nalog</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation>
                  <v-row>
                  <v-col>
                    <v-text-field
                        outlined
                        danse
                        :rules="rules"
                        v-model="editedItem['sifra']"
                        label="Šifra"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                        outlined
                        danse
                        :rules="rules"
                        v-model="editedItem['naziv']"
                        label="Naziv"
                    ></v-text-field>
                  </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                        cols="6"
                        md="4"
                        class="d-flex justify-center"
                    >
                      <span class="mt-5 mr-2"
                          v-if="editedItem['status_projekt']">Status: aktiven</span>
                      <span class="mt-5 mr-2" v-else>Status zakljucen</span>
                      <v-switch
                          inset
                          color="green"
                          class="d-flex justify-center mb-5 ml-4"
                          v-model="editedItem['status_projekt']"/>
                    </v-col>
                  <v-col
                      cols="6"
                      md="4"
                  >
                    <v-text-field
                        outlined
                        danse
                        :rules="rules"
                        v-model="editedItem['objekt']"
                        label="Objekt"
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="6"
                      md="4"
                  >
                    <v-text-field
                        outlined
                        danse
                        :rules="rules"
                        v-model="editedItem['datum_zacetka']"
                        type="date"
                        label="Datum zacetka"
                    ></v-text-field>
                  </v-col>
                  </v-row>
                  </v-form>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  outlined
                  color="red darken-1"
                  @click="dialogAdd = false"
              >
                Prekliči
              </v-btn>
              <v-btn
                  outlined
                  color="green darken-1"
                  @click="save"
              >
                Shrani
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
        <template v-slot:item.datum_zacetka="{ item }">
          {{ item['datum_zacetka'] | datumFilter }}
        </template>
        <template v-slot:item.bruto_cas="{ item }">
          {{ item['bruto_cas'] | numberFilter }}
        </template>
        <template v-slot:item.neto_cas="{ item }">
          {{ item['neto_cas'] | numberFilter }}
        </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
          class="mr-5 ml-n5"
          @click="selectItem(item)"
      >
        mdi-clipboard-list
      </v-icon>
      <v-icon
          class="mr-2"
          @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
    </template>
  </v-data-table>
    </v-card-text>
  </v-card>
  <v-card v-else>
        <daily-orders-list
            @refresh="getItems"
            :selectedItem="selectedItem"/>
  </v-card>
  </div>
</template>

<script>
import datumFilter from '../../mixins/filters/DateFilter'
import numberFilter from '../../mixins/filters/NumberFloatFilter'
import DailyOrdersList from "../DailyOrders/DailyOrdersList";
import Api from '../../webServices/ApiJS.js'
export default {
  name: "WorkOrderList",
  components: {DailyOrdersList},
  mixins: [datumFilter, numberFilter],
  methods: {
    selectItem(item) {
      this.selectedItem = item
    },
    editItem(item) {
      this.dialogAdd = true
      this.editedItem = item
    },
    async save() {
      try {
        if (this.editedItem['id'] !== undefined) {
          await Api.getInstance().put('delovni-nalog',this.editedItem['id'], this.editedItem)
          await this.getItems()
          this.dialogAdd = false
        }
        else {
          if (this.editedItem['status_projekt'] === undefined) {
            this.editedItem['status_projekt'] = 0
          }
          if (this.$refs.form.validate()) {
            await Api.getInstance().post('delovni-nalog',this.editedItem)
            await this.getItems()
            this.dialogAdd = false
          }
        }
      } catch (e) {
        this.$notify({type: "error", title: 'Error', text: e})
      }
    },
    async getItems() {
      this.selectedItem = null
      try {
        this.items = (await Api.getInstance().get('delovni-nalog'))['data']
      } catch (e) {
        this.$notify({type: 'error', title: 'Error', text: e})
      }
    }
  },
  mounted () {
    this.getItems()
  },
  data () {
    return {
      editedItem: {},
      deletedItem: null,
      dialogAdd: false,
      dialogDelete: false,
      search: '',
      valid: true,
      rules: [
        v => !!v || 'Obvezno izpolniti',
      ],
      selectedItem: null,
      items: [],
      headers: [
        {text: 'Šifra', value: 'sifra'},
        {text: 'Naziv', value: 'naziv'},
        {text: 'Objekt', value: 'objekt'},
        {text: 'Datum začetka', value: 'datum_zacetka'},
        {text: 'Bruto čas [h]', value: 'bruto_cas'},
        {text: 'Neto čas [h]', value: 'neto_cas'},
        {text: 'Status', value: 'status'},
        {text: '', value: 'actions'},
      ]
    }
  }
}
</script>

<style scoped>

</style>