<template>
  <div class="login-bg d-flex">
    <v-row class="d-flex align-center justify-center no-gutters">
      <v-col class="d-flex justify-center">
        <v-card
            shaped
            class="mx-auto mt-sm-0"
            width="350"
            height="350"
            outlined
            elevation="7"
        >
          <v-col>
            <v-card-title>
              Prijava
            </v-card-title>
          </v-col>
          <form>
            <v-col>
              <v-text-field
                  prepend-icon="mdi-email"
                  v-model="email"
                  label="Email">
              </v-text-field>
            </v-col>

            <v-col>
              <v-text-field
                  prepend-icon="mdi-lock"
                  type="password"
                  v-model="password"
                  label="Password">
              </v-text-field>
            </v-col>

            <v-col class="d-flex justify-center">
              <v-btn
                  @click="login"
                  color="error"
              >
                Prijava
              </v-btn>
            </v-col>

          </form>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { getAuth, signInWithEmailAndPassword } from "firebase/auth";
import image from '../../assets/loginbg.jpg';

export default {
  name: "LoginPage.vue",

  data() {
    return {
      password: '',
      email: '',
      image: image,
    }
  },
  methods: {
    async login() {
      const auth = getAuth()
      await signInWithEmailAndPassword(auth,this.email, this.password)
          .then(() => {
            this.$router.replace('/')
          })
          .catch((error) => {
            alert(error.message);
          });
    }
  }
}
</script>

<style scoped>
.login-bg {
  background-image: url('../../assets/loginbg.jpg');
  background-size: cover;
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.1);
}
</style>